/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "PingFang TC",Helvetica,arial,sans-serif
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	width: 100%;
	margin: 0 auto;
}
.header {
	padding: 0 4% 0 4%;
}
.logo_btn_cart {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo_btn {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fullScreen_logo {
	width: 219px;
	height: 40px;
}
.rwd_icon, .rwd_logo {
	display: none;
}
.logo_btn ul {
	width: 215px;
	height: 22px;
	display: flex;
	justify-content: space-between;
}
.logo_btn a {
	color: #3F5D45;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s;
}
.logo_btn a:hover {
	color: #8DA291;
	border-bottom: 4px solid #8DA291;
	padding-bottom: 2px;
}
.cart {
	width: 24px;
	height: 24px;
}
.banner {
	height: 496px;
	background: url(images/banner.png) no-repeat;
	background-size: cover;
	background-position: top right;
	margin-bottom: 60px;
}
.main {
	width: 92%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.menu {
	width: 32%;
	max-width: 300px;
}
.menu p {
	color: #EAF0ED;
	font-size: 24px;
	font-weight: bold;
	background-color: #3F5D45;
	padding: 16px 0px;
	text-align: center;
}
.menu li a {
	display: block;
	width: 100%;
	color: #3F5D45;
	font-size: 23px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	border: 1px solid #EAF0ED;
	background-color: #ffffff;
	cursor: pointer;
	padding: 16px 0px;
}
.menu li a:hover {
	background-color: #EAF0ED;
}
.left {
	width: 66%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.products {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 30px;
}
.products li {
	width: 46.8%;
	position: relative;
}
.tag p {
	width: 36px;
	height: 107px;
	background-color: #3F5D45;
	color: #EAF0ED;
	writing-mode: vertical-rl;
	letter-spacing: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 20px;
}
.tag img {
	width: 20px;
	height: 18px;
	position: absolute;
	top: 19px;
	right: 22px;
}
.products .photo {
	display: block;
	width: 100%;
}
.name_price {
	font-size: 20px;
	line-height: 28px;
	display: flex;
	color: #3F5D45;
	border: 1px solid #EAF0ED;
}
.name_price .name {
	width: 60%;
	font-weight: 300;
	border-right: 1px solid#EAF0ED;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 14px 0;
}
.name_price .price {
	width: 40%;
	text-align: center;
	font-weight: bold;	
	display: flex;
	justify-content: center;
	align-items: center;
}
.products a {
	display: block;
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #3F5D45;
	background-color: #EAF0ED;
	border: none;
	cursor: pointer;
	padding: 16px 0px;
}
.pageNumber {
	width: 300px;
	display: flex;
	margin-bottom: 60px;
}
.pageNumber button {
	width: 60px;
	height: 60px;
	background-color: #ffffff;
	border: 1px solid #EAF0ED;
	font-size: 20px;
	color: #3F5D45;
	cursor: pointer;
}
.pageNumber button:hover {
	background-color: #3F5D45;
	color: #EAF0ED;
}
.pageNumber .arrow:hover {
	background-color: #EAF0ED;
}
.subscribe {
	background-color: #3F5D45;
	padding: 30px 0 30px 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.logo {
	display: flex;
	align-items: center;
}
.logo img {
	width: 40px;
	margin-right: 20px;
}
.logo p {
	color: #EAF0ED;
	font-size: 24px;
}
.email_insert {
	box-sizing: border-box;
	width: 37%;
	max-width: 500px;
	display: flex;
}
@media (max-width: 767px) {
	.email_insert {
		width: 84%;
	}
}
.mail-img {
	box-sizing: border-box;
	width: 83%;
	height: 56px;
	color: #3F5D45;
	background: #EAF0ED url(images/mail-24px.png) no-repeat;
	background-position: center left 20px;
	text-indent: 48px;
	border: none;
	outline: none;
	font-size: 20px;
	border-radius: 0%;
}
@media (max-width: 767px) {
	.mail-img {
		width: 100%;
	}
}
.email_insert a {
	width: 64px;
	min-width: 64px;
	background: #FFE180;
	display: flex;
	justify-content: center;
	align-items: center;
}
.email_insert a img {
	width: 24px;
	height: 24px;
}
.info {
	background-color: #EAF0ED;
	padding: 30px 11.9% 30px 11.9%;
}
.info_up {
	display: flex;
	justify-content: space-between;
}
.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.contact p {
	color: #3F5D45;
	line-height: 24px;
}
.footer_title {
	display: flex;
	justify-content: right;
}
.footer_title img {
	width: 59px;
}
.info_down {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 30px;
}
.info_down p {
	font-family: 'Times New Roman', Times, serif;
	color: #3F5D45;
}
.platform {
	display: flex;
	gap: 8px;
}
.platform img {
	cursor: pointer;
}

@media (max-width: 767px) {
	.logo_btn_cart {
		padding: 0 8%;
		height: 84px;
	}
	.logo_btn {
		display: none;
	}
	.rwd_icon, .rwd_logo {
		display: block;
	}
	.rwd_logo {
		width: 114px;
		height: 18px;
	}
	.header {
		padding: 0;
	}
	.banner {
		height: 277px;
		margin-bottom: 0;
	}
	.main {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.menu {
		width: 100%;
		max-width: 100%;
	}
	.left {
		width: 100%;
		align-items: center;
	}
	.products {
		justify-content: center;
		gap: 30px;
		margin: 30px 0;
	}
	.products li {
		width: 45%;
	}
	.pageNumber {
		margin-bottom: 30px;
	}
	.subscribe {
		display: flex;
		flex-direction: column;
		gap: 33px;
	}
	.info {
		padding: 40px 8% 30px 8%;
	}
	.contact {
		gap: 40px;
	}
	.footer_title {
		display: none;
	}
	.info_down {
		display: flex;
		flex-direction: column;
		justify-content:space-between;
		align-items: flex-start;
		margin-top: 37px;
		gap: 23px;
	}
}
@media (max-width: 576px) {
	.products li {
			width: 84%;
	}
}
	
